@font-face {
    font-family: 'Milliard Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Milliard Medium'), url('../fonts/Rene Bieder  Milliard Medium.woff') format('woff');
}

@font-face {
    font-family: 'Milliard Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Milliard Bold'), url('../fonts/Rene Bieder  Milliard Bold.woff') format('woff');
}

@font-face {
    font-family: 'Milliard Light';
    font-style: normal;
    font-weight: normal;
    src: local('Milliard Light'), url('../fonts/Rene Bieder  Milliard Light.woff') format('woff');
}
